<div class="container">
   <div class="row">
      <div class="col-6">
         <div class="jumbotron">
            <h3 style="text-align: center; color: darkblue;">User Registration</h3>
            <form #registerform="ngForm" (ngSubmit)="onSubmit()">
               <div class="form-group">
                  <label for="Name">Name</label><br>
                  <input type="text" name="Name" class="form-control" [(ngModel)]="consumer.Name" #Name=ngModel required
                     minlength="3">
               </div>
               <div *ngIf="!Name?.valid && (Name?.dirty|| Name?.touched)" class="error">
                  <div *ngIf="Name.errors.required">
                     <small class="text-danger">Name is Required</small>
                  </div>
                  <div *ngIf="Name.errors.minlength">
                     <small class="text-danger">Name should have minimum three characters</small>
                  </div>
               </div>
               <div class="form-group">
                  <label for="DateofBirth">Date of Birth</label><br>
                  <input type="date" name="DateofBirth" class="form-control" [(ngModel)]="consumer.DateofBirth"
                     #DateofBirth=ngModel>
                  <div *ngIf="!DateofBirth?.valid && (DateofBirth?.dirty|| DateofBirth?.touched)" class="error">
                     <div *ngIf="DateofBirth.errors.required">
                        <small class="text-danger">Date of Birth is Required</small>
                     </div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="Email">Email</label><br>
                  <input type="text" name="Email" class="form-control" [(ngModel)]="consumer.Email" #Email=ngModel
                     required email>
               </div>
               <div *ngIf="!Email?.valid && (Email?.dirty|| Email?.touched)" class="error">
                  <div *ngIf="Email.errors.required">
                     <small class="text-danger">Email is Required</small>
                  </div>
                  <div *ngIf=Email.errors.email>
                     <small class="text-danger">Enter a valid email-address</small>
                  </div>
               </div>

               <div class="form-group">
                  <label for="PhoneNo">Phone Number</label><br>
                  <input type="number" name="PhoneNo" class="form-control" [(ngModel)]="consumer.PhoneNo"
                     #PhoneNo=ngModel required maxlength="10" minlength="10" pattern="^[6-9][0-9]{9}$">
               </div>
               <div *ngIf="!PhoneNo?.valid && (PhoneNo?.dirty|| PhoneNo?.touched)" class="error">
                  <div *ngIf="PhoneNo.errors.required">
                     <small class="text-danger">Phone Number is Required</small>
                  </div>
                  <div *ngIf=PhoneNo.errors.pattern>
                     <small class="text-danger">Invalid Phone Number</small>
                  </div>
               </div>
               <div class="form-group">
                  <label for="UserName">User Name</label><br>
                  <input type="text" name="UserName" class="form-control" [(ngModel)]="consumer.UserName"
                     #UserName=ngModel required minlength="5">
               </div>
               <div *ngIf="!UserName?.valid && (UserName?.dirty|| UserName?.touched)" class="error">
                  <div *ngIf="UserName.errors.required">
                     <small class="text-danger">UserName is Required</small>
                  </div>
                  <div *ngIf="UserName.errors.minlength">
                     <small class="text-danger">User Name should have minimum five characters</small>
                  </div>
               </div>
               <div class="form-group">
                  <label for="Password">Password</label><br>
                  <input type="password" name="Password" class="form-control" [(ngModel)]="consumer.Password"
                     #Password=ngModel required minlength="6">
               </div>
               <div *ngIf="!Password?.valid && (Password?.dirty|| Password?.touched)" class="error">
                  <div *ngIf="Password.errors.required">
                     <small class="text-danger">Password is Required</small>
                  </div>
                  <div *ngIf="Password.errors.minlength">
                     <small class="text-danger">Password should contain minimum 6 characters</small>
                  </div>
               </div>
               <div class="form-group">
                  <label for="ConfirmPassword">Confirm Password</label><br>
                  <input type="password" name="ConfirmPassword" class="form-control"
                     [(ngModel)]="consumer.ConfirmPassword" #ConfirmPassword=ngModel required
                     passwordmatchvalidator="Password">
               </div>
               <div *ngIf="!ConfirmPassword?.valid && (ConfirmPassword?.dirty|| ConfirmPassword?.touched)"
                  class="error">
                  <div *ngIf="ConfirmPassword.errors.required">
                     <small class="text-danger">Confirm Password is Required</small>
                  </div>
                  <div *ngIf="ConfirmPassword.errors.notEqual && !ConfirmPassword.errors.required">
                     <small class="text-danger">Password & confirm Password should Match</small>
                  </div>
               </div>
               <div class="form-group">
                  <label for="Address">Address: </label> &nbsp;&nbsp;
                  <input type="text" name="Address" class="form-control" required [(ngModel)]="consumer.Address"
                     #Address=ngModel>
               </div>
               <div *ngIf="!Address?.valid && (Address?.dirty|| Address?.touched)" class="error">
                  <div *ngIf="Address.errors.required">
                     <small class="text-danger">Address is Required</small>
                  </div>
               </div>
               <div class="form-group">
                  <label for="CardType">Card Type: </label> &nbsp;&nbsp;
                  <input type="radio" name="CardType" value="Gold" [(ngModel)]=consumer.CardType #CardType=ngModel>Gold &nbsp;&nbsp;
                  <input type="radio" name="CardType" value="Titanium" [(ngModel)]=consumer.CardType #CardType=ngModel>Titanium
               </div>
               <div *ngIf="!CardType?.valid && (CardType?.dirty|| CardType?.touched)" class="error">
                  <div *ngIf="CardType.errors.required">
                     <small class="text-danger">CardType is Required</small>
                  </div>
               </div>
               <div class="form-group">
                  <label for="SelectBank">SelectBank: </label> &nbsp;&nbsp;
                  <select class="form-control" name="SelectBank" required [(ngModel)]="consumer.SelectBank" #SelectBank=ngModel>SelectBank
                     <option *ngFor="let b of banks" value={{b}}>{{b}}</option>
                     <!--<option selected value="Indian Bank">Indian Bank</option>
                     <option value="HDFC Bank">HDFC Bank</option>
                     <option value="CanaraBank">CanaraBank</option>
                     <option value="State Bank of India">State Bank of India</option>
                     <option value="Punjab National Bank">Punjab National Bank</option>-->
                  </select>
               </div>
               <div class="form-group">
                  <label for="AccountNumber">Saving Account Number</label><br>
                  <input type="number" name="AccountNumber" class="form-control" [(ngModel)]="consumer.AccountNumber"
                     #AccountNumber=ngModel required>
               </div>
               <div *ngIf="!AccountNumber?.valid && (AccountNumber?.dirty|| AccountNumber?.touched)" class="error">
                  <div *ngIf="AccountNumber.errors.required">
                     <small class="text-danger">Saving Account Number is Required</small>
                  </div>
               </div>
               <div class="form-group">
                  <label for="IFSC_Code">IFSC Code</label><br>
                  <input type="text" name="IFSC_Code" class="form-control" [(ngModel)]="consumer.IFSC_Code"
                     #IFSC_Code=ngModel required minlength="11" maxlength="11">
               </div>
               <div *ngIf="!IFSC_Code?.valid && (IFSC_Code?.dirty|| IFSC_Code?.touched)" class="error">
                  <div *ngIf="IFSC_Code.errors.required">
                     <small class="text-danger">IFSC Code is Required</small>
                  </div>
                  <div *ngIf="IFSC_Code.errors.minlength">
                     <small class="text-danger">IFSC Code should contain 11 characters</small>
                  </div>
               </div>

               <button class="btn btn-primary" type="submit">Register</button>
               <button class="btn btn-light" type="reset">Reset</button>
               <br>
               <br>
               <div>Already a member? <a (click)="RedirectLogin()">Login Here</a></div>
            </form>
         </div>
      </div>
   </div>
</div>