<div class="container">
    <form #form="ngForm" (ngSubmit)="OnSubmit(ProductName,ProductDetails, Image,CostPerUnit, AvailableQuantity)">
        <div>
            <label for="ProductID">ProductID: </label> &nbsp;&nbsp;
            <input type="number" name="ProductID" #ProductID required [(ngModel)]="product.ProductID" #name=ngModel>
        </div>
        <div>
            <label for="ProductName">ProductName: </label> &nbsp;&nbsp;
            <input type="text" name="ProductName" #ProductName required [(ngModel)]="product.ProductName" #name=ngModel>
        </div>
        <div>
            <label for="ProductDetails">ProductDetails: </label>&nbsp;&nbsp;
            <input type="text" name="ProductDetails" #ProductDetails required [(ngModel)]="product.ProductDetails" #name=ngModel>
        </div>
        <div>
            <label for="Image">Image: </label>&nbsp;&nbsp;
            <img [src]="imageUrl"  style="width:100px; height:100px">
            <input type="file"  #Image accept="image/*" (change)="handleFileInput($event.target.files)" name="Image" required [(ngModel)]="product.Image" #name=ngModel>
        </div>
        <div>
            <label for="CostPerUnit">CostPerUnit: </label>&nbsp;&nbsp;
            <input type="number" name="CostPerUnit" #CostPerUnit required [(ngModel)]="product.CostPerUnit" #name=ngModel>
        </div>
        <div>
            <label for="AvailableQuantity">AvailableQuantity: </label>&nbsp;&nbsp;
            <input type="number" name="AvailableQuantity" #AvailableQuantity required [(ngModel)]="product.AvailableQuantity" #name=ngModel>
        </div>
        <button class="btn btn-info">Add Product</button>&nbsp;&nbsp;&nbsp;&nbsp;
    </form>
</div>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of Products">
                <td><img [src]='p.Image'></td>
                <td> PRODUCT NAME: {{p.ProductName}}<br>
                    PRODUCT DETAILS: {{p.ProductDetails}}<br>
                    COST: {{p.CostPerUnit}}<br>
                    <button class="btn btn-success" type="submit" (click)="fetchProductbyID(p.ProductID)">BUY NOW</button>
                </td>
                <hr>
            </tr>
        </tbody>
    </table>
</div>


<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Product Image</th>
                <th>Product Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><img [src]='prod.Image'></td>
                <td> PRODUCT NAME: {{prod.ProductName}}<br>
                    PRODUCT DETAILS: {{prod.ProductDetails}}<br>
                    COST: {{prod.CostPerUnit}}<br>
                </td>
                <hr>
            </tr>
        </tbody>
    </table>
</div>
