<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron">
                <h3 style="text-align: center; color: darkblue;">FORGOT PASSWORD</h3>
                <br>
                <br>
                <form #emailform="ngForm">
                    <div class="form-group">
                        <label for="Email">Email</label><br>
                        <input type="text" class="form-control" name="Email" [(ngModel)]="forgetpassword.Email"
                            #Email=ngModel required email>
                    </div>
                    <div *ngIf="!Email.valid && (Email.dirty|| Email.touched)" class="error">
                        <div *ngIf="Email.errors.required">
                            <small class="text-danger">Email is Required</small>
                        </div>
                        <div *ngIf=Email.errors.email>
                            <small class="text-danger">Enter a valid email-address</small>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-primary" [disabled]="!emailform.valid">GET OTP</button>
                    </div>
                </form>
                <br>

                <form #otpform="ngForm">
                    <div class="form-group">
                        <label for="EnterOTP">Enter OTP</label><br>
                        <input type="number" name="EnterOTP" class="form-control" [(ngModel)]="otp.EnterOTP"
                           #EnterOTP=ngModel required maxlength="6" minlength="6" pattern="^[0-9][0-9]{5}$">
                     </div>
                     <div *ngIf="!EnterOTP?.valid && (EnterOTP?.dirty|| EnterOTP?.touched)" class="error">
                        <div *ngIf="EnterOTP.errors.required">
                           <small class="text-danger">OTP is Required</small>
                        </div>
                        <div *ngIf=EnterOTP.errors.pattern>
                           <small class="text-danger">OTP must be of 6 digits</small>
                        </div>
                     </div>
                    <div>
                        <button class="btn btn-success" [disabled]="!otpform.valid">Verify OTP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>