<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron">
                <h3 style="text-align: center; color: darkblue;">FORGOT PASSWORD</h3>
                <br>
                <br>
                <form #emailform="ngForm">
                    <div class="form-group">
                        <label for="PhoneNo">Phone Number</label><br>
                        <input type="number" name="PhoneNo" class="form-control" [(ngModel)]="forgetpassword.PhoneNo"
                            #PhoneNo=ngModel required maxlength="10" minlength="10" pattern="^[6-9][0-9]{9}$">
                    </div>
                    <div *ngIf="!PhoneNo?.valid && (PhoneNo?.dirty|| PhoneNo?.touched)" class="error">
                        <div *ngIf="PhoneNo.errors.required">
                            <small class="text-danger">Phone Number is Required</small>
                        </div>
                        <div *ngIf=PhoneNo.errors.pattern>
                            <small class="text-danger">Invalid Phone Number</small>
                        </div>
                    </div>
                    <button class="btn btn-primary" [disabled]="!emailform.valid" (click)="sendOTP(forgetpassword.PhoneNo)">GET OTP</button>
                </form>
                <br>

                <form #otpform="ngForm">
                    <div class="form-group">
                        <label for="EnterOTP">Enter OTP</label><br>
                        <input type="number" name="EnterOTP" class="form-control" [(ngModel)]="otp.EnterOTP"
                            #EnterOTP=ngModel required maxlength="6" minlength="6" pattern="^[0-9][0-9]{5}$">
                    </div>
                    <div *ngIf="!EnterOTP?.valid && (EnterOTP?.dirty|| EnterOTP?.touched)" class="error">
                        <div *ngIf="EnterOTP.errors.required">
                            <small class="text-danger">OTP is Required</small>
                        </div>
                        <div *ngIf=EnterOTP.errors.pattern>
                            <small class="text-danger">OTP must be of 6 digits</small>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success" [disabled]="!otpform.valid">Verify OTP</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>